.mypy_cache/
__pycache__
~playground
.idea
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache
.yardoc
_yardoc
doc/
.idea/
.coverage
test-reports/
